@mixin addressbook-addressbook-view {

  .addressbook-view.addressbook-view {
    padding: $view-padding;
    overflow: visible;

    .addressbook-panel-toolbar {
      padding: 1px 0 1px round($v-unit-size / 1.8);
      height: $v-unit-size + 2px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .addressbook-panels {
      display: block;
      height: 100%;
      margin: 0 round($view-padding / -3);

      .card {
        height: 100%;
        overflow: hidden;
        padding: $v-unit-size + 2px round($view-padding / 2) 0;
        position: relative;

        .v-table, .v-table-table {
          background: transparent;
        }
      }

      .customers-list {
      	.v-expand {
      		.v-slot {
      			height: auto !important;
      		}
      	}
        .card {
          padding-left: 0;
          padding-right: 0;
        }

        .v-table-table {
          @include box-shadow(none);
        }

        .v-table-cell-wrapper {
          padding-left: round($view-padding / 2);
          padding-right: round($view-padding / 2);
        }

        .v-table-cell-content {
          border-color: first-color(valo-border($strength: 0.3));
        }

        .v-table-cell-content-rowheader {
          color: valo-font-color($v-app-background-color, 0.4);

          .v-table-cell-wrapper {
            padding-right: 0;
          }
        }
      }

      .addressbook-panel-slot {
        padding: round($view-padding / 3);
        min-height: 220px;
      }

  	  &[width-range~="0-700px"] {
  	    .addressbook-panel-slot {
  	      width: 100% !important;
  	    }
  	  }

  	  &[width-range~="701px-"] {
  	    .addressbook-panel-slot {
  	      width: 100% !important;
  	    }
  	  }

      &[height-range~="0-440px"] {
  	    .addressbook-panel-slot {
  	      height: 100%;
  	    }
  	  }

  	  &[height-range~="441px-"] {
  	    .addressbook-panel-slot {
  	      height: 100%;
  	    }
  	  }

      .addressbook-panel-slot.max {
        width: 100% !important;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

  }

  .addressbook-view {
    @include width-range($max: 480px) {
      padding-left: round($view-padding / 2);
      padding-right: round($view-padding / 2);
    }
  }
}
