@mixin addressbook-addressbook-view {

  .addressbook-view.addressbook-view {
    padding: $view-padding;
    overflow: visible;

    .addressbook-panel-toolbar {
      padding: 1px 0 1px round($v-unit-size / 1.8);
      height: $v-unit-size + 2px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .addressbook-panels {
      display: block;
      height: 100%;
      margin: 0 round($view-padding / -3);

      .card {
      	height: 100%;
	    overflow: hidden;
	    padding: $v-unit-size + 2px round($view-padding / 2) 0;
	    position: relative;
	
		.customers-list {
			height: 100%;
			
      		.v-slot-viewheader {
      			height: auto !important;
      		}
      		.v-grid {
	      		.v-grid-row-selected{
	       			background-color: lightblue;
	       	    }
      		}
      	}
      }

      .addressbook-panel-slot {
        padding: round($view-padding / 3);
        min-height: 220px;
      }

  	  &[width-range~="0-700px"] {
  	    .addressbook-panel-slot {
  	      width: 100% !important;
  	    }
  	  }

  	  &[width-range~="701px-"] {
  	    .addressbook-panel-slot {
  	      width: 100% !important;
  	    }
  	  }

      &[height-range~="0-440px"] {
  	    .addressbook-panel-slot {
  	      height: 100%;
  	    }
  	  }

  	  &[height-range~="441px-"] {
  	    .addressbook-panel-slot {
  	      height: 100%;
  	    }
  	  }

      .addressbook-panel-slot.max {
        width: 100% !important;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .addressbook-view {
    @include width-range($max: 480px) {
      padding-left: round($view-padding / 2);
      padding-right: round($view-padding / 2);
    }
  }
}
